//colores principales

$color-fondo: #100F0D;
$color-texto: #ED1B24;
$color-texto-2: #FFFFFF;
$color-textos:#efefef;
$color-derechos:#C90C12;

$image-size: 200px;
$gap-size: 1rem;
$breakpoints: ("small": 320px, "medium": 768px, "large": 1024px) !default;

